<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Hello From Express Template</h1>
{{>footer}}
//javascipt file
    <script src="js/script.js"></script>
    {{!-- api call using async await --}}
        <script src="js/api_call.js"></script>
</body>
</html>